{% extends "auctions/layout.html" %}

{% comment %}
    
Passed elements:
    "listing" : Listing.objects.get(pk=listing_id)

{% endcomment %}

{% block body %}

    {% if message %}
        <div><b><strong>{{ message }}</strong></b></div><br/>
    {% endif %}

    

    

        <div class="card-body list-group-item">
            {% if user.is_authenticated and user.id != listing.seller.id  %}
                {% comment %} if user is is_authenticated and not the seller show them add to watchlist button {% endcomment %}
                <!-- --- Watchlist button --- -->
                <form id="watchlist-form" action="{% url 'auctions:listing_page' listing.id %}" method="POST">
                    {% csrf_token %}
                    {% if on_watchlist %}
                    <button form="watchlist-form" class="btn btn-danger" value="remove_from_watchlist" name="remove_from_watchlist">Remove from Watchlist</button>
                    {% else %}
                    <button form="watchlist-form" class="btn btn-success" value="add_to_watchlist" name="add_to_watchlist">Add to Watchlist</button>
                    {% endif %}
                    {% comment %} passing the listing.id into the watchlist function to redirect to correct listing page {% endcomment %}
                    <input type="hidden" name="watchlist-form">
                </form>
            {% endif %}

            {% if listing.image_url %}
                <div class="card-image-wrapper">
                    <img class="card-img-top listing-page-img" src="{{ listing.image_url }}" alt="{{ listing.title }} photo">
                </div>
            {% endif %}

            <h5 class="card-title"> {{ listing.title }} </h5>
            <div>
                <strong>Seller:</strong> {{ listing.seller }}
            </div>
            <div>
                <strong>Price:</strong> {{ listing.current_price }} €
            </div>
    
        
            <div>
                <strong>Category:</strong> {{ listing.listing_category }}
            </div>
            <div class="mb-2">
                <strong>Description:</strong> {{ listing.description }}
            </div>
            <div class="auction-list-date">
                Published: {{ listing.publication_date }}
            </div>
            <div class="auction-list-date">
                End of Auction: countdown...
            </div>
    
            <div class="list-group-item text-muted w-25 p-3">
                
                
                {% if bids_count != 0 %}
                    <small>{{ bids_count }} bid(s) so far. {{ bids_message }}</small>
                {% else %}
                    <small>No bids so far.</small>
                {% endif %}
                
            </div>

        {% if user.id != listing.seller.id %}
        {% comment %} if user is is_authenticated and not the seller allow them to make a bid {% endcomment %}
            {% if listing.closed == False %}
                <form id="bid_form" action="{% url 'auctions:listing_page' listing.id %}" method="POST" class="form-item">
                    {% csrf_token %}
                    <div class="form-item-row">
                        <div class="col-sm-10 col-8">
                            {{ bid_form }}
                        </div>
                        <input type="submit" name="bid-form" value="Place Bid" class="btn btn-primary btn-new-blue col-sm-2 col-4">
                    </div>
                </form>
            {% elif listing.closed == True %}
                <div>
                    This auction has been closed
                </div>
            {% endif %}
        {% elif listing.closed == True %}
        <div>
            This auction has been closed
        </div>
        {% endif %}
        {% if user.id == listing.seller.id %}
            {% comment %} if user is is_authenticated and seller allow them to close the listing {% endcomment %}
            <!-- --- Close the auction & announce the winner; open the listing again --- -->
            <form id="close-form" action="{% url 'auctions:listing_page' listing.id %}" method="POST">
                {% csrf_token %}
                {% if listing.closed == True %}
                <button form="close-form" class="btn btn-outline-success" value="open-auction" name="open_auction">Open Auction</button>
                {% elif listing.closed == False %}
                <button form="close-form" class="btn btn-outline-danger" value="close-auction" name="close_auction">Close Auction</button>
                {% endif %}
                <input type="hidden" name="close-form">
            </form>
        {% endif %}
        </div>
        {% if listing.closed != True and user.is_authenticated %}
        <div>
            <form id="comment-form" action="{% url 'auctions:listing_page' listing.id %}" method="POST" class="form-item">
                {% csrf_token %}
                <div class="form-item-row">
                    <div class="col-sm-10 col-8">
                        {{ comment_form }}
                    </div>
                    <input type="submit" name="comment-form" value="Comment" class="btn btn-primary btn-new-blue col-sm-2 col-4">
                </div>
            </form>
        </div>
        {% endif %}
        {% if comments %}
            {% for comment in comments %}
                <div class="list-group-item text-muted w-25 p-3">
                    <div>
                        <strong>Commenter:</strong> {{ comment.commenter }}
                    </div>
                    <div>
                        <strong>Comment:</strong> {{ comment.comment }}
                    </div>
                    <div class="auction-list-date">
                        <strong>Date:</strong> {{ comment.comment_date }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}